.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
  }
  .slide img {
  width: 1920px;
  height: 1080px;
}
  .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
  
  .control-btn {
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    margin: 0 5px;
  }
  
  .navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .nav-dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .nav-dot.active {
    background-color: #fff;
  }
  